%div{:style => "margin-top: 20%;"}
  .well
    %h1 (404) Uh Oh....
    %p
      For one reason or another, this page
      %b could not be found
      please check the corresponding routes and ids and try again. If you think you received this page in error please file a bug report.
    = link_to "create bug report", "#"


